body {
    background-color: rgb(13, 10, 44);
    text-align: justify;
}

.box1, .box2, .box3 {
  margin: 10px;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  transition: .5s;
}

.box1:hover, .box2:hover, .box3:hover{
  transform: scale(1.1);
}

.box1{
 float: left;
 width: 320px;
 height: 210px;
}

.box2{
    float: left;
    width: 320px;
    height: 210px;
}

.box3 {
    float: left;
    width: 320px;
 height: 210px;
}

footer {
  text-align: left;
  padding: 3px;
  background-color: black;
  color: white;}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(150,50,200,0.1);
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover:not(.active) {
    background-color: #251c52;
}

.active {
    background-color: rgba(100, 200, 200, 1);
}


h1 {
  color: rgb(192, 178, 205);
}

h2 {
  color: rgb(192, 178, 205);
}

* {
color: rgb(192, 178, 205);
}
 button{
  background-color: black;
  color: azure;
}

img {
  border-radius: 5%;
  border:rgb(10, 44, 44) solid 3px;
}

input {
  background-color: rgba(60, 36, 70, 0.767);
}

a {
  color: inherit;
  text-decoration: none;
  background: 
    linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1)),
    linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover,
a:focus {
  background-size: 0 0.1em, 100% 0.1em;
}

.kepl {
  transition: 1s;
}
.kepl:hover {
  transform: scale(1.02);
}